* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    min-height: 100%;
    font-family: cursive;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: goldenrod;
    height: 100%;
}

.head-box {
    font-size: 2rem;
}

.body-box {
    background-color: rgb(39, 38, 58);
    min-height: 100vh;
    border-radius: 5rem 5rem 0 0;
}

.box {
    border: 0.1rem solid goldenrod;
    padding: 0;
    transition: 0.3s;
    min-height: 250px;
    max-width: 250px;
    margin: 0 auto;
}

.box:hover {
    background-color: rgba(218, 165, 32, 0.274);
    transform: scale(1.05);
    box-shadow: 0rem 0rem 0.5rem 0.05rem goldenrod;
}

.info-box {
    color: white;
    text-transform: capitalize;
    font-size: 1.6rem;
    padding: 0.5rem;
}

.info-name {
    color: goldenrod;
}

.container-fluid {
    height: 100vh;
}

@media screen and (max-width: 300px) {
    .info-box {
        font-size: 1.2rem;
    }
}